body {
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    max-width: 720px;
    padding: 0 40px;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
  }
  
  #target {
    color: #ccc;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1.5em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .row {
    margin: 20px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .cell {
    box-sizing: border-box;
    width: 50%;
  }
  
  .image img {
    display: block;
    max-width: 100%;
  }
  
  .color {
    padding: 0 0 0 20px;
  }
  
  .color ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    text-align: center;
  }
  
  .box {
    height: 80px;
  }

  form {
    width: 72%;
    padding: 0;
    margin: 20px auto;
  }

  #select {
    float: left;
    width: 35%;
    height: 40px;
    padding: 0 2%;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    background: #E9003A;
    border: 0;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }
  
  #select:hover {
    background: #970026;
  }

  input[type=file]::file-selector-button {
    border: none;
    background: #084cdf;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }